@use "src/styles/sass/variaveis" as *;

.titulo {
    color: $preto;
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
    padding: 2rem 0;
    text-align: center;
}

@media screen and (max-width: $tablet-breakpoint) {
    .titulo {
        align-self: center;
        max-width: 554px;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .titulo {
        font-size: 1.125rem;
    }
}