@use "src/styles/sass/variaveis" as *;

.card {
    background-color: $cinza-medio;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: max-content;
    width: 282px;
    
    .capa {
        display: block;
        width: 100%;
    }

    .detalhes {
        display: flex;
        flex-direction: column;
        height: 118px;
        justify-content: space-between;
        padding: 1rem 1.625rem;

        .titulo {
            color: $preto;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: normal;
        }

        .favoritar {
            cursor: pointer;
            height: 20px;
            width: 20px;
        }
    }
}