@use "src/styles/sass/variaveis" as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2.5rem;

    > * {
        padding: 0 18.75vw;
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .container {
        > * {
            padding: 0 2.5rem;
        }
    }
}