@use "src/styles/sass/variaveis" as *;

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    min-height: calc(100vh - 562px - 7.5rem);
}

@media screen and (max-width: $tablet-breakpoint) {
    .container {
        min-height: calc(100vh - 455px - 7.5rem);
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .container {
        min-height: calc(100vh - 500px - 7.5rem);
    }    
}